body  {
	
	font-size: 14px;
	background: #FFF;
	color: #677a83;
    color: #fff; margin-top: 0;
	background: linear-gradient(rgba(0,0,0,0.5),
	 rgba(0,0,0,0.5)),
	  url(../images/forest.jpg);
    text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
}

a {
	color:#00adff;
	text-decoration:underline;
}
p {
	font-size: 30px;
    line-height:140%;
    font-family: 'Anonymous Pro', ;
	padding:10px 0 0 0;
}
h1 {
	font-size:100px;
	color: whitesmoke;
    font-family: 'Anonymous Pro', ;
	padding:10px 0 0 0;
}
h2 {
	font-size:24px;
	color:whitesmoke;
    font-family: 'Anonymous Pro', ;
}
.container { 
	width: 960px;
	margin: 0 auto;
}
header {
	background:url(../images/gray1.jpg) repeat;
	border-bottom:1px solid #c0dffb;
	padding-bottom:30px;
}
.headerContainer {
	width:960px;
	margin:0 auto;
} 
header h1 {
	float:left;
	padding:20px 0 0 0;
}
header h1 a {
	font-family: 'Anonymous Pro', ;
	font-size: 42px;
	color:whitesmoke;
	text-decoration:none;
}


#navcontainer {
	float: center;
	padding:30px 0 0 0;
}
ul#navlist {
	margin-left: 0;
	padding-left: 0;
	white-space: nowrap;
}
#navlist li {
	display: inline;
	list-style-type: none;
}
#navlist a { 
	padding: 10px 20px;
	font-size:24px;
	font-family: 'Anonymous Pro', ;
	text-decoration:none;
	color: whitesmoke;	
	text-shadow: 0px 0px, 1px 1px whitesmoke;
}
#navlist a:hover {
	color: #fff;
	text-decoration: none;
	text-shadow:none;
	background:#00adff;
	border-radius:10px;
}
#navlist #active a {
	color: #fff;
	text-decoration: none;
	text-shadow:none;
	background:#00adff;
	border-radius:10px;
}

